#form-field {
  position: absolute;
  top: 13%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 70%;
  border: 1px solid #1e386e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#form-field #welocome_tag {
  width: 100%;
  height: 54px;
  background-color: #1e386e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

#form-field #welocome_tag i {
  margin: 1rem;
  font-size: 1.7rem;
}

#form-field #welocome_tag h5 {
  font-size: 1.5rem;
}

@media screen and (max-width: 800px) {
  #form-field {
    width: 80%;
  }
}

#welcomer {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 220px;
  background-size: cover;
  background-image: url(../img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

#welcomer #underlay {
  width: 100%;
  height: 100%;
  background-color: rgba(34, 161, 68, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#welcomer #underlay h2 {
  color: #fff;
  font-size: 2.5rem;
}

#welcomer #underlay p {
  color: #fff;
  font-size: 1rem;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: absolute;
  top: 800px;
  left: 0;
}

#container #listings {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#container #listings #house {
  height: 520px;
  width: 320px;
  border: 1px solid #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#container #listings #house #upper {
  width: 100%;
  height: 40%;
  background-size: cover;
  background-position: center;
}

#container #listings #house #upper #price {
  width: 100px;
  height: 30px;
  background-color: rgba(34, 161, 68, 0.7);
  margin: 1rem;
}

#container #listings #house #upper #price h5 {
  color: #fff;
  margin-left: 6px;
}

#container #listings #house #lower {
  width: 100%;
  height: 60%;
}

#container #listings #house #lower #location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.6px solid rgba(59, 59, 59, 0.7);
}

#container #listings #house #lower #location h5 {
  font-weight: bold;
}

#container #listings #house #lower #location div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 70%;
}

#container #listings #house #lower #location div i {
  color: #20d450;
}

#container #listings #house #lower #location div p {
  font-weight: 600;
}

#container #listings #house #lower #small-details {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-bottom: 0.6px solid rgba(59, 59, 59, 0.7);
}

#container #listings #house #lower #small-details #sqrft-garage, #container #listings #house #lower #small-details #bedr-bath {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

#container #listings #house #lower #small-details #sqrft-garage div, #container #listings #house #lower #small-details #bedr-bath div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#container #listings #house #lower #small-details #sqrft-garage div i, #container #listings #house #lower #small-details #bedr-bath div i {
  margin-top: 3px;
  margin-right: 4px;
}

#container #listings #house #lower #small-details #sqrft-garage div i, #container #listings #house #lower #small-details #sqrft-garage div p, #container #listings #house #lower #small-details #bedr-bath div i, #container #listings #house #lower #small-details #bedr-bath div p {
  color: #0dbf72;
}

#container #listings #house #lower #realtor {
  width: 85%;
  margin: 0 auto;
}

#container #listings #house #lower #realtor #realtor-name, #container #listings #house #lower #realtor #listing-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#container #listings #house #lower #realtor #realtor-name i, #container #listings #house #lower #realtor #listing-date i {
  margin-top: 4px;
  color: #0dbf72;
}

#container #listings #house #lower #realtor #realtor-name p, #container #listings #house #lower #realtor #listing-date p {
  margin-left: 5px;
  color: #0dbf72;
}

#container #listings #house #lower button {
  margin-left: 20px;
}

#house-details {
  width: 80%;
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  top: 340px;
}

#house-details #house {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#house-details #house #house-image {
  width: 100%;
}

#house-details #house #house-image img {
  width: 70%;
  height: 500px;
}

#house-details #house #house-image #more-images {
  margin-top: 10px;
  width: 70%;
  height: 100px;
}

#house-details #house #house-chars {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#house-details #house #house-chars #quick-char {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#house-details #house #house-chars #quick-char #left-column, #house-details #house #house-chars #quick-char #right-column {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#house-details #house #house-chars #quick-char #left-column div, #house-details #house #house-chars #quick-char #right-column div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#house-details #house #house-chars #quick-char #left-column div div, #house-details #house #house-chars #quick-char #right-column div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#house-details #house #house-chars #quick-char #left-column div div i, #house-details #house #house-chars #quick-char #right-column div div i {
  margin-top: 4px;
}

#house-details #house #house-chars #quick-char #left-column div div p, #house-details #house #house-chars #quick-char #right-column div div p {
  margin-left: 4px;
}

#house-details #house #house-chars #quick-char #left-column div div i, #house-details #house #house-chars #quick-char #left-column div div p, #house-details #house #house-chars #quick-char #right-column div div i, #house-details #house #house-chars #quick-char #right-column div div p {
  color: #0dbf72;
}

#house-details #house #house-chars #quick-char #left-column p, #house-details #house #house-chars #quick-char #right-column p {
  color: #0dbf72;
  width: 200px;
}

#house-details #house #house-chars #detailed-chars {
  margin-top: 2.5rem;
  width: 100%;
}

#house-details #realtor {
  width: 16%;
  height: 400px;
  border: 0.7px solid rgba(79, 79, 79, 0.6);
}

#house-details #realtor #realtor-details {
  width: 100%;
  height: 400px;
}

#house-details #realtor #realtor-details img {
  width: 100%;
  height: 70%;
}

#house-details #realtor #realtor-details h5 {
  margin: 1rem;
}

#house-details #realtor #realtor-details h6 {
  color: #0dbf72;
  margin-left: 1rem;
}

#house-details #realtor button {
  margin-top: 1rem;
}

@media screen and (max-width: 900px) {
  #house-details {
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    top: 340px;
  }
  #house-details #house {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #house-details #house #house-image {
    width: 100%;
  }
  #house-details #house #house-image img {
    width: 100%;
    height: 500px;
  }
  #house-details #house #house-image #more-images {
    margin-top: 10px;
    width: 100%;
    height: 100px;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  width: 100%;
  height: 80px;
  background-color: #1e386e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav #left, nav #right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #left i {
  margin-right: 2rem;
  color: #fff;
  font-size: 2.5rem;
}

nav #left h4 {
  margin-right: 1.5rem;
  color: #fff;
  cursor: pointer;
}

nav #right #register, nav #right #login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  color: #fff;
}

nav #right #register h5, nav #right #login h5 {
  margin-left: 0.5rem;
  cursor: pointer;
}

@media screen and (max-width: 1083px) {
  #sub-footer {
    margin-top: 100px;
  }
  #sub-footer #underlay #services {
    margin-top: 10px;
  }
  #sub-footer #underlay #services i {
    font-size: 2rem;
  }
  #sub-footer #underlay #services div h4 {
    font-size: 1rem;
  }
  #sub-footer #underlay #services div p {
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  #sub-footer {
    height: 800px;
  }
  #sub-footer #underlay {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 800px) {
  nav #left i {
    display: none;
  }
  nav #left h4 {
    margin-right: 0.5rem;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
  }
  nav #right #register, nav #right #login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 13px;
    color: #fff;
  }
  nav #right #register h5, nav #right #login h5 {
    margin-left: 0.5rem;
    margin-top: 6px;
    cursor: pointer;
    font-size: 14px;
  }
  #searchBox {
    width: 95%;
  }
  #searchBox #description h2 {
    font-size: 24px;
  }
  #searchBox #description h6 {
    font-size: 15px;
  }
}
/*# sourceMappingURL=main.css.map */