form{
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
}

h5,h6{
    margin-left: 100px !important;
}

form .form-group{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
form .form-group div{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#btn-div{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}
