*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(245, 242, 242,0.6);
}
#vue-app{
    position: absolute;
    top: 0;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#make-inquire-box{
    width: 400px;
    height: 600px;
    border: 1px solid #111;
}
#header{
    width: 100%;
    height: 50px;
}
#header div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header div i{
    margin: 1rem;
    cursor: pointer;
}
#header div h5{
    margin: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

form{
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#messange{
    height: 4rem !important;
}

#errormessange1,#errormessange2{
    visibility: hidden;
}

button{
    border: none;
    background-color: rgb(13, 191, 114);
    color: #fff;
    padding: 0.5rem;
    margin-top: 1rem;
}